@font-face {
  font-family: "PERB____";
  src: url("fonts/PERB____.TTF") format("truetype");
}
@font-face {
  font-family: "PER_____";
  src: url("fonts/PER_____.TTF") format("truetype");
}
@font-face {
  font-family: "PERTIBD";
  src: url("fonts/PERTIBD.TTF") format("truetype");
}
@font-face {
  font-family: "PressStart2P-Regular";
  src: url("fonts/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SUIT-Regular";
  src: url("fonts/SUIT-Regular.otf") format("truetype");
}

/* -----------------------------------------------------------------------
초기화 및 기본값 설정
----------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "SUIT-Regular", sans-serif;
  background-color: #400303;
  color: #fff;
}

/* -----------------------------------------------------------------------
본문 영역
----------------------------------------------------------------------- */

body {
  animation: fadeIn 0.6s ease;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.title-image {
  max-width: 1150px;
  width: 100%;
  height: auto;
  display: block;
}

/* -----------------------------------------------------------------------
버튼
----------------------------------------------------------------------- */

.btn.over-image {
  position: absolute;
  bottom: 4px;
  transform: translate(-50%, -50%);
  padding: 14px 36px;
  font-size: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  font-family: "PER_____", sans-serif;
  font-weight: 400;
  background-color: transparent;
  transition: 0.3s ease;  
}

.btn.over-image:hover {
  background-color: #fff;
  color: #400303;
}

/* -----------------------------------------------------------------------
모바일 대응 (반응형)
----------------------------------------------------------------------- */

@media (max-width: 768px) {
  .title-image {
    max-width: 100%;
  }

  .btn.over-image {
    font-size: 20px;
    padding: 10px 24px;
    bottom: -60px;
  }
}

@media (max-width: 480px) {
  .btn.over-image {
    font-size: 20px;
    padding: 8px 20px;
  }
}

/* -----------------------------------------------------------------------
페이지 전환 효과
----------------------------------------------------------------------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
